/***************************************** 
 * Organized by sequence in corresponding HTML
 *****************************************/

#logs.page-container {
    grid-template-columns: 270px minmax(1105px, auto);
    background-color: white;
    min-height: 100vh;
}

#logs header {
    background-color: var(--background-color);
    grid-auto-rows: fit-content(100%) auto fit-content(100%);
    padding: 5%;
    height: 100%;
}

#logs .logo-container {
    grid-template-columns: 1fr 4fr;
    gap: 5%;
    margin-bottom: 8%;
}

#logs .logo-container img {
    align-self: center;
    width: 100%;
}

#logs .logo-container h1 {
    color: var(--text-color);
    align-self: center;
    font-size: 48px;
    margin: 0;
    padding-top: 4%;
}

#logs .logo-container h1 span {
    color: red;
}

#logs .main-nav {
   align-self: center;
   margin: 8% 0;
   line-height: 1.5em;
}

#logs .main-nav ul * {
    font-size: 200%;
}

#logs .main-nav ul li {
    margin-bottom: 10%;
}

#logs .main-nav ul li:last-child {
    margin-bottom: 0;
}

#logs .main-nav ul li a {
    color: var(--text-color);
}

#logs .main-nav ul li[class="red-text"] a {
    color: var(--text-color-secondary)
}

#logs .content-section {
    background-color: white;
    position: relative;
    min-width: fit-content;
    grid-auto-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);
    height: 100%;
    overflow: scroll;
}

#logs .content-section h2 {
    color: var(--text-color-secondary);
    margin: 2%;
    font-size: 50px;
    height: 50px;
}

#logs .log-out {
    position: absolute;
    top: 2%;
    right: 2%;
    margin-left: 20px;
    width: fit-content;
    font-size: 30px;
}

#logs .log-out ul {
    width: 100%;
}

#logs .log-out ul li {
    font-size: 1em;
}

#logs .log-out ul li a {
    display: block;
    color: var(--text-color);
    width: 100%;
    font-size: 1em;
}

#logs .log-out ul li[class="red-text"] a{
    color: var(--text-color-secondary)
}

/***************************************** 
 * LOG LIST STYLES
 *****************************************/

#logs .filters {
    height: 50px;
    padding-left: 2%;
    align-items: center;
    font-size: 25px;
}

#logs .filters label {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}

#logs .filters input {
    background-color: #CCC;
    border-width: 0;
    margin-right: 30px;
}

#logs .filters button {
    padding: 3px 20px;
}

#logs .logs-list {
    padding-left: 2%;
    gap: 3%;
    margin: 20px 2%;
    grid-template-rows: repeat(3, 1fr);
    height: 710px; 
}

#logs .log-container {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

#logs .log-container > * {
    padding: 8px 12px 0px;
    height: 100%
}

#logs .log-title {
    background-color: black;
    color: white;
    font-size: 40px;
}

#logs .log-content {
    justify-content: space-between;
    min-width: 315px;
}

#logs .log-content p {
    font-size: 30px;
    font-weight: bold;
}

#logs .log-nav {
    height: 50px;
    padding-left: 2%;
    height: fit-content;
    margin-bottom: 10px;
}

#logs .log-nav ul {
    width: fit-content;
    margin: auto;
}

#logs .log-nav ul li {
    display: block;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 5px;
    background-color: #CCC;
    padding-top: 4px;
    transition: 0.3s;
    cursor: pointer;
}

#logs .log-nav ul li[class="nav-arrow"] {
    width: 20px;
}

#logs .log-nav ul li[class="nav-arrow"] img {
    height: 80%;
}

#logs .log-nav ul li:hover {
    background-color: #AAA;
}


@media only screen and (max-width: 768px) {
    /* Nothing here at the moment */
} 

@media only screen and (max-width: 500px) {
    #logs .mobile-hide {
        display: none;
    }
    
    #logs .mobile-only {
        display: block;
    }
   
    #logs.page-container {
       grid-template-columns: 1fr;
       grid-template-rows: fit-content(100%) auto fit-content(100%);
       height: 100vh;
    }

    #logs .mobile-header {
        background-color: var(--background-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        height: 50px;
        width: 100vw;
    }
    
    #logs .logo-container {
        grid-auto-columns: auto auto;
        width: 40%;
        margin-left: 5px;
        gap: 5%;
        margin-bottom: 0;
    }
    
    #logs .logo-container img {
        align-self: center;
        height: 100%;
    }
    
    #logs .logo-container h1 {
        display: block;
        width: 100%;
        color: var(--text-color);
        align-self: center;
        font-size: 24px;
        margin: 0;
        padding-top: 4%;
    }
    
    #logs .logo-container h1 span {
        color: red;
    }

    #logs .logout {
        color: white;
        align-self: center;
        margin-right: 5px;
        font-size: 24px;
    }

    #logs .content-section {
        background-color: white;
        position: relative;
        width: 100%;
        grid-template-rows: fit-content(100%) auto;
        height: 100%;
        overflow: scroll;
        gap: 2%;
    }
    
    #logs .content-section h2 {
        color: var(--text-color-secondary);
        margin: 2%;
        font-size: 50px;
        height: 50px;
    }
    
    #logs .mobile-nav {
        background-color: var(--background-color);
        height: 50px;
        width: 100vw;
    }

    #logs .mobile-nav div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px;
        height: 50px;
        padding: 0 6%;
        gap: 6%;
        align-items: center;
    }

    #logs .mobile-nav div a {
        height: 60%;
    }

    #logs .mobile-nav div a img {
       height: 100%;
    }

    /***************************************** 
    * LOG LIST STYLES
    *****************************************/
    #logs .filters {
        display: block;
        height: fit-content;
        width: fit-content;
    }

    #logs .filters button {
        margin-top: 10px;
    }

    #logs .logs-list {
        padding-left: 2%;
        gap: 3%;
        margin: 20px 2%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 2700px; 
    }

    #logs .log-container {
        width: 80vw;
        justify-self: center;
    }

    #logs .log-content {
        min-width: 100%;
    }

    #logs .log-nav ul {
        margin: 0px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    #logs .log-nav ul li {
        display: block;
        font-size: 22px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 0 3px;
        background-color: #CCC;
        padding-top: 3px;
    }
    
    #logs .log-nav ul li[class="nav-arrow"] {
        width: 20px;
    }
    
    #logs .log-nav ul li[class="nav-arrow"] img {
        height: 80%;
    }

}