/***************************************** 
 * Organized by sequence in corresponding HTML
 *****************************************/

#About .page-content {
    background-color: var(--background-color);
    padding: 14px;
    height: fit-content;
    max-width: 100%;
    color: var(--text-color);
}

#About .page-content h2 {
    font-size: 40px;
}

@media only screen and (max-width: 768px) {
    /* Nothing here at the moment */
} 

@media only screen and (max-width: 500px) {
    #About .page-content {
        text-align: center;
    }
}