/***************************************** 
 * Organized by sequence in corresponding HTML
 *****************************************/

#Features .page-content {
    background-color: var(--background-color);
    padding: 14px;
    height: fit-content;
    max-width: 100%;
    grid-template-rows: repeat(2, fit-content(100%));
    gap: 28px;
}

#Features .page-content .feature {
    text-align: center;
}

#Features .page-content .feature img {
    height: 200px;
}

#Features .page-content .feature {
    color: var(--text-color);
}

#Features .page-content .feature h2 {
    font-size: 40px;  
}

#Features .page-content .feature:last-child {
    grid-column: 1 / span 2;
}

#Features .page-content .feature:last-child p {
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    /* Nothing here at the moment */
} 

@media only screen and (max-width: 500px) {

    #Features .content-container h1 {
        padding: 0;
        text-align: center;
        font-size: 60px;
        color: var(--text-color-secondary);
        background-image: linear-gradient(90deg, #00000000, #000000, #00000000);
    }

    #Features .page-content {
        grid-template-columns: 1fr;
    }

    #Features .page-content .feature:last-child {
        grid-column: 1 / 1;
    }

    #Features .page-content .feature:last-child div p {
        margin: 0;
        width: 100%;
    }
}